<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>黑马点评</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/blog-edit.css" rel="stylesheet">

  <style type="text/css">

  </style>
</head>

<body>
  <div id="app">
    <div class="header">
      <div class="header-cancel-btn" @click="goBack">取消</div>
      <div class="header-title">&nbsp;&nbsp;发笔记<i class="el-icon-info"></i></div>
      <div class="header-commit">
        <div class="header-commit-btn" @click="submitBlog">发布</div>
      </div>
    </div>
    <div class="upload-box">
      <input type="file" @change="fileSelected" name="file" ref="fileInput" style="display: none">
      <div class="upload-btn" @click="openFileDialog">
        <i class="el-icon-camera"></i>
        <div style="font-size: 12px;line-height: 12px">上传照片</div>
      </div>
      <div class="pic-list">
        <div class="pic-box" v-for="(f,i) in fileList" :key="i">
          <img :src="f" alt="">
          <i class="el-icon-close" @click="deletePic(i)"></i>
        </div>
      </div>
    </div>
    <div class="blog-title">
      <input v-model="params.title" type="text" placeholder="填写标题更容易上首页哦~">
    </div>
    <div class="blog-content">
      <textarea v-model="params.content" placeholder="描述一下你的宝贝，比如成色、购买时间、出售原因~"></textarea>
    </div>
    <!-- 分类选择 -->
    <div class="divider"></div>
    <div class="blog-category">
      <div class="category-label">帖子类型 <span style="color:#ff6633">*</span></div>
      <div class="category-options">
        <div v-for="c in categories" :key="c.id" class="category-chip" :class="{active: selectedCategory === c.id}"
          @click="selectedCategory = c.id">{{c.name}}</div>
      </div>
    </div>
    <!-- 地点选择 -->
    <div class="divider"></div>
    <div class="blog-location">
      <div class="location-item">
        <div class="location-label">所属校区 <span style="color:#ff6633">*</span></div>
        <el-select v-model="params.campus" placeholder="请选择校区" size="small" style="width: 100%"
          @change="onCampusChange">
          <el-option v-for="c in campusList" :key="c.name" :label="c.name" :value="c.name"></el-option>
        </el-select>
      </div>
      <div class="location-item" style="margin-top: 10px;">
        <div class="location-label">详细地点 <span style="color:#ff6633">*</span></div>
        <el-input v-model="params.location" placeholder="如：中环路、宿舍楼下、饭堂等" size="small"></el-input>
      </div>
      <div class="location-item" style="margin-top: 10px; display: flex; font-size: 12px; color: #999;">
        <span>模拟定位: {{params.x}}, {{params.y}}</span>
      </div>
    </div>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <!-- 引入组件库 -->
  <script src="./js/element.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/footer.js"></script>
  <script>

    const app = new Vue({
      el: "#app",
      data() {
        return {
          util,
          fileList: [],
          params: {},
          selectedCategory: null,
          categories: [
            { id: 1, name: '📱 数码电子' },
            { id: 2, name: '📚 书籍资料' },
            { id: 3, name: '🧴 生活用品' },
            { id: 4, name: '👕 服饰鞋包' },
            { id: 5, name: '🚲 代步工具' },
            { id: 6, name: '🔍 求购' },
          ],
          campusList: [
            { name: '中大', x: 113.3934, y: 23.0617 },
            { name: '华工', x: 113.4077, y: 23.0514 },
            { name: '华师', x: 113.3970, y: 23.0560 },
            { name: '广大', x: 113.3719, y: 23.0416 },
            { name: '广工', x: 113.3912, y: 23.0401 },
            { name: '广外', x: 113.3971, y: 23.0658 },
            { name: '广中医', x: 113.3950, y: 23.0500 },
            { name: '广药', x: 113.4000, y: 23.0450 },
            { name: '广美', x: 113.3850, y: 23.0420 },
            { name: '星海', x: 113.3900, y: 23.0550 }
          ]
        }
      },
      created() {
        this.checkLogin();
      },
      methods: {
        submitBlog() {
          if (!this.selectedCategory) {
            this.$message.error('请选择帖子类型');
            return;
          }
          if (!this.params.campus || !this.params.location) {
            this.$message.error('请填写发布地点信息');
            return;
          }
          let { ...data } = this.params;
          data.images = this.fileList.join(',');
          data.categoryId = this.selectedCategory;
          axios.post('/post', data)
            .then(resp => location.href = '/info.html')
            .catch(this.$message.error)
        },
        openFileDialog() {
          this.$refs.fileInput.click();
        },
        fileSelected() {
          let file = this.$refs.fileInput.files[0];
          let formData = new FormData();
          formData.append("file", file);
          const config = {
            headers: { "Content-Type": "multipart/form-data;boundary=" + new Date().getTime() }
          };
          axios
            .post("/upload/post", formData, config)
            .then(({ data }) => this.fileList.push('/imgs' + data))
            .catch(this.$message.error);
        },
        deletePic(i) {
          axios.get("/upload/post/delete?name=" + this.fileList[i])
            .then(() => this.fileList.splice(i, 1))
            .catch(this.$message.error)
        },
        checkLogin() {
          // 获取token
          let token = sessionStorage.getItem("token");
          if (!token) {
            location.href = "login.html"
          }
          // 查询用户信息
          axios.get("/user/me")
            .then()
            .catch(err => {
              this.$message.error(err);
              setTimeout(() => location.href = "login.html", 200)
            })
        },
        goBack() {
          history.back();
        },
        handleRemove(file) {
          console.log(file);
        },
        onCampusChange(val) {
          let campus = this.campusList.find(c => c.name === val);
          if (campus) {
            this.$set(this.params, 'x', campus.x);
            this.$set(this.params, 'y', campus.y);
          }
        }
      },

    })
  </script>
</body>

</html>