<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>大学城闲置星球</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/info.css" rel="stylesheet">

  <style type="text/css">
    .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
    .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
    .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
    .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
      padding-left: 15px;
    }

    .el-tabs,
    .el-tab-pane {
      height: 100%;
    }

    .el-tabs__header {
      height: 10%;
    }

    .el-tabs__content {
      height: 90%;
    }
  </style>

</head>

<body>
  <div id="app">
    <!-- 顶部星际背景区 -->
    <div class="stellar-hero">
      <div class="header-transparent">
        <div class="back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
        <div class="title-main">闲置星球 · 探索</div>
      </div>
    </div>

    <!-- 悬浮个人中心卡片 -->
    <div class="user-card-wrap">
      <div class="user-main-card">
        <div class="user-top">
          <div class="avatar-box">
            <img :src="user.icon || '/imgs/icons/default-icon.png'" alt="">
          </div>
          <div class="user-detail">
            <div class="nick-row">
              <span class="nick-name">{{user.nickName}}</span>
              <span class="city-tag"><i class="el-icon-location"></i> {{info.city || '未知'}}</span>
            </div>
            <div class="bio-row">
              <span v-if="info.introduce">{{info.introduce}}</span>
              <span v-else class="bio-placeholder">这个星球的居民很神秘，什么都没写...</span>
            </div>
          </div>
        </div>

        <!-- 功能按钮区 -->
        <div class="action-row-stellar">
          <button class="stellar-btn" :class="{followed: followed}" @click="follow">
            {{followed ? '已关注' : '+ 关注'}}
          </button>
          <button class="stellar-btn-outline" @click="toChat">
            私聊
          </button>
        </div>

        <!-- 数字看板 -->
        <div class="stats-board">
          <div class="stat-item" @click="activeName='1'">
            <div class="stat-num">{{blogs.length}}</div>
            <div class="stat-label">笔记</div>
          </div>
          <div class="stat-divider"></div>
          <div class="stat-item" @click="activeName='2'">
            <div class="stat-num">{{commonFollows.length}}</div>
            <div class="stat-label">共同关注</div>
          </div>
          <div class="stat-divider"></div>
          <div class="stat-item">
            <div class="stat-num">--</div>
            <div class="stat-label">好评率</div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="笔记" name="1">
          <div v-for="b in blogs" :key="b.id" class="blog-item">
            <div class="blog-img" @click="toBlogDetail(b)"><img :src="b.images.split(',')[0]" alt=""></div>
            <div class="blog-info">
              <div class="blog-title" v-html="b.title" @click="toBlogDetail(b)"></div>
              <div class="blog-liked"><img src="/imgs/thumbup.png" alt=""> {{b.liked}}</div>
              <div class="blog-comments"><i class="el-icon-chat-dot-round"></i> {{b.comments}}</div>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="共同关注" name="2">
          <div>你们都关注了：</div>
          <div class="follow-info" v-for="u in commonFollows" :key="u.id">
            <div class="follow-info-icon" @click="toOtherInfo(u.id)">
              <img :src="u.icon || '/imgs/icons/default-icon.png'" alt="">
            </div>
            <div class="follow-info-name">
              <div class="name">{{u.nickName}}</div>
            </div>
            <div class="follow-info-btn" @click="toOtherInfo(u.id)">
              去主页看看
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
    <foot-bar :active-btn="0"></foot-bar>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <!-- 引入组件库 -->
  <script src="./js/element.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/footer.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data() {
        return {
          util,
          user: "",
          loginUser: {},
          activeName: "1",
          info: {},
          blogs: [],
          followed: false, // 是否关注了
          commonFollows: [], // 共同关注
        }
      },
      created() {
        this.queryUser();
        this.queryLoginUser();
      },
      methods: {
        queryBlogs() {
          axios.get("/post/of/user", {
            params: { id: this.user.id, current: 1 }
          })
            .then(({ data }) => this.blogs = data)
            .catch(this.$message.error)
        },
        queryLoginUser() {
          // 查询用户信息
          axios.get("/user/me")
            .then(({ data }) => {
              // 保存用户
              this.loginUser = data;
            })
            .catch(console.log)
        },
        queryUser() {
          // 查询用户信息
          let id = util.getUrlParam("id")
          axios.get("/user/" + id)
            .then(({ data }) => {
              // 保存用户
              this.user = data;
              // 查询用户详情
              this.queryUserInfo();
              // 查询用户笔记
              this.queryBlogs();
              // 是否被关注
              this.isFollowed();
            })
            .catch(console.log)
        },
        goBack() {
          history.back();
        },
        queryUserInfo(id) {
          axios.get("/user/info/" + this.user.id)
            .then(({ data }) => {
              if (!data) {
                return
              }
              // 保存用户详情
              this.info = data;
              // 保存到本地
              sessionStorage.setItem("userInfo", JSON.stringify(data))
            })
            .catch(err => {
              this.$message.error(err);
            })
        },
        isFollowed() {
          axios.get("/follow/or/not/" + this.user.id)
            .then(({ data }) => this.followed = data)
            .catch(this.$message.error)
        },
        queryCommonFollow() {
          axios.get("/follow/common/" + this.user.id)
            .then(({ data }) => this.commonFollows = data)
            .catch(err => {
              this.$message.error(err);
            })
        },
        follow() {
          if (!this.user || !this.user.id) {
            this.$message.error("用户信息加载中，请稍后再试");
            return;
          }
          axios.put("/follow/" + this.user.id + "/" + !this.followed)
            .then(({ data }) => {
              if (data.success === false) {
                this.$message.error(data.errorMsg);
              } else {
                this.$message.success(this.followed ? "已取消关注" : "已关注")
                this.followed = !this.followed
              }
            })
            .catch(err => {
              this.$message.error("操作失败，请先登录");
            })
        },
        handleClick(t) {
          if (t.name === '2') {
            this.queryCommonFollow();
          }
        },
        toOtherInfo(id) {
          location.href = "/other-info.html?id=" + id
        },
        toBlogDetail(b) {
          location.href = "/blog-detail.html?id=" + b.id;
        },
        toChat() {
          if (!this.loginUser || !this.loginUser.id) {
            this.$message.error("请先登录再发起对话");
            return;
          }
          location.href = `/chat.html?toId=${this.user.id}&name=${encodeURIComponent(this.user.nickName)}&icon=${this.user.icon}`;
        }
      },

    })
  </script>
</body>

</html>