<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>大学城闲置星球</title>
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">

  <link href="./css/shop-list.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">

  <style type="text/css">

  </style>
</head>

<body>
  <div id="app">
    <div class="header">
      <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
      <div class="header-title">{{typeName}}</div>
      <div class="header-search">
        <i class="el-icon-search"></i>
      </div>
    </div>
    <div class="sort-bar">
      <div class="sort-item">
        <el-dropdown trigger="click" @command="handleCommand">
          <span class="el-dropdown-link">
            {{typeName}}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item v-for="t in types" :key="t.id" :command="t">
              {{getCategoryName(t)}}
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div class="sort-item" @click="sortAndQuery('')">
        距离 <i class="el-icon-arrow-down el-icon--right"></i>
      </div>
      <div class="sort-item" @click="sortAndQuery('comments')">
        人气 <i class="el-icon-arrow-down el-icon--right"></i>
      </div>
      <div class="sort-item" @click="sortAndQuery('score')">
        评分 <i class="el-icon-arrow-down el-icon--right"></i>
      </div>
    </div>
    <div class="shop-list" v-if="shops.length > 0" @scroll="onScroll">
      <div class="shop-box" v-for="s in shops" :key="s.id" @click="toDetail(s)">
        <div class="shop-img"><img :src="s.images.split(',')[0]" alt=""></div>
        <div class="shop-info">
          <div class="shop-title">{{s.title}}</div>
          <div class="shop-status">
            <!-- 状态标签 -->
            <el-tag size="mini" :type="s.status === 0 ? 'success' : (s.status === 1 ? 'warning' : 'info')">
              {{s.status === 0 ? '待售' : (s.status === 1 ? '已预订' : '已售出')}}
            </el-tag>
          </div>
          <div class="shop-campus">
            <i class="el-icon-location-outline"></i> {{s.campus}}
            <span v-if="s.distance" style="float: right; margin-right: 5px; color: #999; font-size: 11px;">
              距您 {{s.distance < 1000 ? s.distance + 'm' : (s.distance/1000).toFixed(1) + 'km' }} </span>
          </div>
          <div class="shop-price">
            <span class="price-symbol">￥</span>
            <span class="price-val">{{s.price}}</span>
            <span class="price-old" v-if="s.originalPrice">￥{{s.originalPrice}}</span>
          </div>
        </div>
      </div>
    </div>
    <div v-else style="text-align: center; color: #999; margin-top: 50px;">
      暂无该分类下的商品~
    </div>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/axios.min.js"></script>
  <!-- 引入组件库 -->
  <script src="./js/element.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/footer.js"></script>
  <script>

    const app = new Vue({
      el: "#app",
      data: {
        util,
        isReachBottom: false,
        types: [], // 类型列表
        shops: [], // 商店列表
        typeName: "",
        params: {
          typeId: 0,
          current: 1,
          sortBy: "",
          x: 120.149993, // 经度
          y: 30.334229 // 纬度
        },
        categoryMap: {
          1: "数码产品",
          2: "书籍杂志",
          3: "日常用品",
          4: "衣物服饰",
          5: "通勤载具"
        }
      },
      created() {
        // 获取参数
        this.params.typeId = util.getUrlParam("type");
        this.typeName = util.getUrlParam("name");
        // 查询类型
        this.queryTypes();
        // 查询商店
        this.queryShops();
      },
      methods: {
        getCategoryName(t) {
          return this.categoryMap[t.id] || t.title;
        },
        queryTypes() {
          axios.get("/category/list")
            .then(({ data }) => {
              this.types = data;
            })
            .catch(err => {
              this.$message.error(err)
            })
        },
        queryShops() {
          axios.get("/product/of/type", {
            params: this.params
          })
            .then(({ data }) => {
              if (!data) {
                return
              }
              data.forEach(s => s.price = util.formatPrice(s.price));
              this.shops = this.shops.concat(data);
            })
            .catch(err => {
              console.log(err);
              this.$message.error(err)
            })
        },
        handleCommand(t) {
          location.href = "/shop-list.html?type=" + t.id + "&name=" + this.getCategoryName(t);
        },
        sortAndQuery(sortBy) {
          this.params.sortBy = sortBy;
          this.queryShops();
        },
        goBack() {
          history.back();
        },
        toDetail(s) {
          let url = "/shop-detail.html?id=" + s.id;
          if (s.distance) {
            url += "&distance=" + s.distance;
          }
          location.href = url;
        },
        onScroll(e) {
          let scrollTop = e.target.scrollTop;
          let offsetHeight = e.target.offsetHeight;
          let scrollHeight = e.target.scrollHeight;
          if (scrollTop + offsetHeight + 1 > scrollHeight && !this.isReachBottom) {
            this.isReachBottom = true
            console.log("触底")
            this.params.current++
            this.queryShops(this.params.current, 5);
          } else {
            this.isReachBottom = false
          }
        },
      }
    })
  </script>
</body>

</html>